{% extends 'portafolio_base.html' %}

{% block title %}
    Portafolio - Home
{% endblock %}

{% block content %}
    <h1>Bienvenido a mi portafolio</h1>
    <p>Aquí encontrarás mis proyectos y habilidades.</p>
    <button class="btn btn-primary">Prueba</button>
    <h2>Lista de proyectos</h2>
    <ul>
        {% for project in projects %}
        <li>
            <b>{{ project.title }}</b>
            <p>
                {{ project.description }}
            </p>
        </li>
        {% endfor %}
    </ul>
    <p>{{ datito }}</p>
{% endblock %}